################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
/bin/Debug/test_thread_pool.exe
/bin/Debug/test_thread_pool.pdb
/build
